.card{:class => "col-sm-10 mb-3 mt-3"}
  .card-body
    = link_to "Home", 'home',class:"fs-5"
    %div{:class=>'fw-normal fs-6'} aaaaaaaaaaaaaaaaaaaaaaaaaaa
    %div{:class=>'fw-normal fs-6'} bbbbbbbbbbbbbbbbbbbbbbbbbbb
    = link_to "Home", 'home',class:"fs-5 btn btn-danger"