%h3
  %div{:class=>'row'}
    %div{:class=>'col-sm-12'}
      %div{:class=>''} Platform
      - @platforms.each.with_index() do |platform,index|
        .card{:class => "col-sm-10 mb-3 mt-3"}
          .card-body
            = link_to platform.name, '/platform1s/'+(platform.id.to_s),class:"fs-5"
            %div{:class=>'fw-normal fs-6'} url: #{platform.link}
      